@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #2d3950; }

.navbar .navbar-nav .nav-item .nav-link, footer ul li a {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease; }

#service-section .service .icon {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#48baff+50,5fc3ff+50 */
  background: #48baff;
  /* Old browsers */
  background: -moz-linear-gradient(left, #48baff 50%, #5fc3ff 50%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #48baff 50%, #5fc3ff 50%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #48baff 50%, #5fc3ff 50%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48baff', endColorstr='#5fc3ff',GradientType=1 );
  /* IE6-9 */ }

.btn-custom {
  border: 1px solid #15a4fa;
  color: #fff;
  padding: 13px 30px; }
  .btn-custom:hover {
    background-color: #15a4fa;
    color: #fff; }

.navbar {
  background-color: #F6F9F9;
  padding: 30px 0; }
  .navbar .navbar-nav .nav-item .nav-link {
    color: #2d3950;
    font-weight: 600;
    text-transform: uppercase; }
    .navbar .navbar-nav .nav-item .nav-link:hover {
      color: #15a4fa; }

#banner {
  background-image: url(../img/Strict.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  #banner .click {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); }
    #banner .click a {
      color: #fff;
      font-size: 20px; }
  #banner .row {
    height: 85vh;
    align-items: center;
    justify-content: center;
    text-align: center; }
    #banner .row h1 {
      font-size: 120px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600; }
    #banner .row span {
      background: #15a4fa;
      display: block;
      height: 3px;
      margin-bottom: 20px; }
    #banner .row p {
      color: #fff;
      font-size: 18px; }

#about-us {
  background-color: #F6F9F9;
  text-align: center;
  padding: 40px 0; }
  #about-us h2 {
    font-size: 35px;
    font-weight: 500;
    color: #2d3950;
    margin-bottom: 15px; }
  #about-us p {
    color: #999999;
    font-size: 18px; }

#service-section {
  padding: 100px 0;
  text-align: center; }
  #service-section .service .icon {
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    margin: auto;
    margin-bottom: 20px; }
    #service-section .service .icon i {
      text-shadow: 1px 1px 2px #2d3950; }
  #service-section .service h2 {
    font-size: 22px;
    font-weight: 600;
    color: #2d3950; }
  #service-section .service P {
    color: #999999; }

#gallery {
  background-color: #F6F9F9;
  padding-bottom: 100px; }
  #gallery h2 {
    font-size: 40px; }
  #gallery p {
    color: #999999;
    margin-bottom: 55px; }
  #gallery .overly_wrap {
    position: relative;
    display: block;
    margin-bottom: 25px; }
    #gallery .overly_wrap .image {
      width: 356px;
      height: 100%; }
    #gallery .overly_wrap .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      /**left: auto;
      right: auto;**/
      width: 356px;
      height: 100%;
      margin: 0 auto;
      opacity: 0;
      transition: .3s ease;
      background-color: #2AACFA; }
      #gallery .overly_wrap .overlay:hover {
        opacity: 0.8; }
      #gallery .overly_wrap .overlay .overly_images {
        margin-top: 33.33%; }
        #gallery .overly_wrap .overlay .overly_images a {
          margin-top: 30%;
          margin-right: 7px;
          padding: 10px 13px;
          border: 1px solid #fff;
          color: #fff;
          border-radius: 5px; }
          #gallery .overly_wrap .overlay .overly_images a:hover {
            background-color: #15A4FA; }

#form-section {
  background-image: url(../img/contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(71, 64, 97, 0.9);
  background-blend-mode: lighten; }
  #form-section h2 {
    color: #fff;
    font-size: 40px; }
  #form-section p {
    color: #999999;
    margin-bottom: 40px; }
  #form-section input, #form-section textarea {
    border-color: #999999;
    border-radius: 2px;
    color: #fff;
    background-color: transparent; }
  #form-section .submit-option .check_box {
    margin-top: 10px;
    float: left;
    position: relative;
    /**label{
    	color: #ffffff;
    	font-size: 15px;
    	margin: 5px 0px 0 5px;
    }**/ }
    #form-section .submit-option .check_box input[type=checkbox] {
      display: none; }
    #form-section .submit-option .check_box input[type=checkbox] + label:before {
      content: "";
      height: 20px;
      width: 20px;
      border: 1px solid #9AA0A9;
      background: #9AA0A9;
      display: inline-block;
      vertical-align: top;
      border-radius: 5px;
      margin-top: 3px;
      margin-right: 10px; }
    #form-section .submit-option .check_box input[type=checkbox]:checked + label:before {
      content: "\2713";
      text-align: center;
      font-size: 13px;
      background: #fff;
      border: 1px solid #fff; }
    #form-section .submit-option .check_box label {
      cursor: pointer; }
    #form-section .submit-option .check_box span {
      color: #ffffff; }
  #form-section .submit-option button {
    float: right;
    border: 1px solid #15A4FA;
    border-radius: 3px; }
  #form-section .submit-option button:hover {
    border: 1px solid #fff; }

footer {
  background-color: #F6F9F9;
  padding: 40px 0; }
  footer p {
    margin-bottom: 0; }
  footer ul li a {
    margin-left: 10px;
    background-color: #15a4fa;
    color: #fff;
    width: 35px;
    height: 35px;
    display: block;
    text-align: center;
    line-height: 35px;
    border: 1px solid #15a4fa; }
    footer ul li a:hover {
      background-color: transparent;
      color: #15a4fa;
      border: 1px solid #15a4fa; }

@media (max-width: 991px) {
  .overlay {
    left: 182px; } }

/*# sourceMappingURL=style.css.map */
